<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>プロフィール編集</title></head>
<body>

<div th:replace="fragments/header :: body"></div>

<h1>プロフィール編集</h1>

<form method="post" th:object="${account}">
    <label>表示名：</label>
    <input type="text" th:field="*{displayName}"><br><br>

    <label>紹介文：</label><br>
    <textarea th:field="*{profileText}" rows="5" cols="40"></textarea><br><br>

    <label>画像URL：</label>
    <input type="text" th:field="*{imagePath}"><br><br>

    <button type="submit">更新</button>
</form>

</body>
</html>
