<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>アカウント作成</title></head>
<body>

<div th:replace="fragments/header :: body"></div>

<h1>アカウント作成</h1>

<form method="post" action="/register" th:object="${account}">
    <label>ユーザーID：</label>
    <input type="text" th:field="*{username}" required><br><br>

    <label>パスワード：</label>
    <input type="password" th:field="*{password}" required><br><br>

    <label>表示名：</label>
    <input type="text" th:field="*{displayName}"><br><br>

    <button type="submit">登録</button>
</form>

</body>
</html>
