<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <header class="site-header">
    <a class="site-name" href="/"><h1>Spring Blog</h1></a>

    <nav class="header-link">
        <ul>
            <li><a href="/blogs">記事一覧</a></li>
            <li><a href="/blog_post">投稿</a></li>
            <li></li><a href="/login">ログイン</a></li>
            <!-- <li></li><a href="/logout">ログアウト</a></li> -->
            <li></li> <a href="/register">アカウント作成</a></li>
        </ul>
    </nav>

</div>

</body>
</html>