<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ヘッダー</title>
</head>
<body>
    <header class="site-header">
    <a class="site-name" href="/"><h1>Task Notes</h1></a>
        <nav class="header-link">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/blogs">記事一覧</a></li>
            <li><a href="/about">このサイトについて</a></li>
            <li><a href="/form">お問い合わせ</a></li>
        </ul>
        </nav>
        <hr>
    </header>
</body>
</html>