/* 全体設計 */
body {
    font-family: sans-serif;
    color: #202124;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
}

/* 記事一覧画面(カード)*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-card {
    flex: 1 1 200px;
    background-color: white;
    padding: 20px;
    border-radius:16px;
    box-shadow: 0 2px 8px rgb(95, 88, 118);
    transition: transform 0.2s;
}
.blog-card:hover {
    transform: translateY(-5px);
}


.blog-card a {
    text-decoration: none;
    color: #34302d;
}
.blog-card a:hover {
    color: cadetblue;
}


/* 記事追加画面（newPost.html）*/
.form-group {
    margin-bottom: 24px;
}
