<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${account.username}">アカウントページ</title>
    <link rel="stylesheet" th:href="@{/css/style_layout.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header_fragment}"></div>

<h1 th:text="${account.username}">ユーザ名</h1>

<hr>
<p th:text="${account.profileText}">自己紹介文</p>

<hr>

<h2>投稿したブログ</h2>

<p th:if="${#lists.isEmpty(blogs)}">投稿はまだありません</p>
<p th:if="${blogs != null}" th:text="${'投稿数：' + #lists.size(blogs) + '件'}">投稿件数</p>
    
<div th:each="blog : ${blogs}">
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <h3><a th:href="@{/blog/{id}(id=${blog.id})}"th:text="${blog.title}">タイトル</a></h3>
        <p>カテゴリ：<span th:text="${blog.category}">カテゴリ</span></p>
        <p>投稿日：<span th:text="${blog.createdAt}">日付</span></p>
    </div>
</div>

</body>
</html>
