<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/style_layout.css}">
</head>
<body>

<div th:replace="~{fragments/layout-header :: header_fragment}"></div>

<h1>ブログ一覧</h1>

/*  検索フォーム */
<form method="get" action="@{/blogs}">

    <input type="text" name="keyword" placeholder="キーワード">
    <input type="text" name="category" placeholder="カテゴリ">
    <input type="text" name="author" placeholder="作者">
    <button type="submit">検索</button>

</form>

<hr>

/* 0件表示 */
<p th:if="${#lists.isEmpty(blogs)}">検索結果がありません</p>

/* 一覧 （blogs）*/
<div class="card-container">
    <div class="blog-card" th:each="blog : ${blogs}">
        <h3><a th:href="@{/blog/{id}(id=${blog.id})}"th:text="${blog.title}">タイトル</a></h3> 
        <p th:text="${blog.authorName}">作者</p>
        <p th:text="${blog.category}">カテゴリ</p>
        <p th:text="${blog.createdAt}">投稿日</p>
    </div>
</div>
</body>
</html>
