<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>記事投稿</title></head>
<body>

<div th:replace="fragments/header :: body"></div>

<h1>記事投稿</h1>

<form method="post" action="/post" th:object="${blog}">
    <label>タイトル：</label>
    <input type="text" th:field="*{title}" required><br><br>

    <label>カテゴリ：</label>
    <input type="text" th:field="*{category}"><br><br>

    <label>本文：</label><br>
    <textarea th:field="*{content}" rows="10" cols="50"></textarea><br>

    <button type="submit">投稿</button>
</form>

</body>
</html>
