<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
</head>
<body>

<div th:replace="~{fragments/layout-header :: header_fragment}"></div>

<h1>ブログ一覧</h1>

/*  検索フォーム */
<form method="get" action="/blogs">

    <input type="text" name="keyword" placeholder="キーワード">
    <input type="text" name="category" placeholder="カテゴリ">
    <input type="text" name="author" placeholder="作者">
    <button type="submit">検索</button>

</form>

<hr>
<div/>
/* 0件表示 */
<p th:if="${#lists.isEmpty(blogs)}">検索結果がありません</p>

/* 一覧 （blogs）*/
<tr th:each="blog : ${blogs}">
        //タイトルクリックで詳細へ
        <td><a th:href="@{/blog/{id}(id=${blog.id})}"th:text="${blog.category}">タイトル</a></td> 
        <td>作者：<span th:text="${blog.authorName}">作者</span></td>
        <td>投稿日：<span th:text="${blog.createdAt}">投稿日</span></td>
</tr>
</div>
</body>
</html>
