<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログホーム</title>
</head>
<body>

<div th:replace="~{fragments/header :: header_fragment}"></div>
<p>趣味でつながるブログアプリ</p>
<h1>Spring blog</h1>

<h2>検索</h2>

<form method="get" action="/blogs">
    <input type="text" name="keyword" placeholder="キーワード">
    <input type="text" name="category" placeholder="カテゴリ">
    <input type="text" name="author" placeholder="作者">
    <button type="submit">検索</button>
</form>

<hr>

<p>今注目のカテゴリ</p>
<ol>
    <li>ジム</li>
    <li>ペット</li>
    <li>コスメ</li>
</ol>

<p><a href="/blogs">ブログ一覧を見る</a></p>

</body>
</html>
