<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>

<body>
    <p>趣味でつながるブログアプリ</p>
    <h1>Spring blog</h1>
    <div>
    <form action="/books" method="get">
      <input type="text" name="keyword">
      <button type="submit">検索</button>
    </form>
  </div>
  
    <ul class="article-ranking">
        <h2>話題のカテゴリ</h2>
        <li>1. </li>
        <li>2. </li>
        <li>3. </li>
    </lul>
    <ul class="article-ranking">
        <h2>話題のユーザ</h2>
        <li>1. </li>
        <li>2. </li>
        <li>3. </li>
    </lul>
    <ul class="article-ranking">
        <h2>話題の記事</h2>
        <li>1. </li>
        <li>2. </li>
        <li>3. </li>
    </lul>

</body>
</html>